h2 {
  text-align: center;
  color: #222;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
